/* tailwind.config.js */


@tailwind base;
@tailwind components;
@tailwind utilities;




body {
	background-color: #E4E0E1;
}


.line-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}